/* page header */

.header__text {
    padding: 30px 80px;
}
.add-pet-header {
    color: #e79559;
    font-weight: bold;
}

.add-pet-subheader {
    padding: 40px 20px;
    width: 80%;
    margin-bottom: 50px;
    color: #4b4b4b;
}

.header__photo img {
    width: 35rem;
    height: 35rem;
    margin-top: 30px;
    z-index: 1;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 0;
}

.addpet-form {
    background-color: #f2f2f2;
    padding: 30px 100px;
}
.addpet-form h2 {
    color: #e79559;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
.field-margin {
    margin-bottom: 60px;
}
.addpet-form input {
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid #e79559;
    border-radius: 0;
}
.addpet-row-space {
    margin: 0 0 0 90px;
}

.addpet-form label {
    padding: 0 30px 0 0px;
}

.custom-file-upload {
    border: 1px solid #e79559;
    border-radius: 30px;
    cursor: pointer;
}
.upload-image {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
}
.addpet-form button {
    background-color: #e79559;
    border: none;
    border-radius: 30px;
    width: 10rem;
}
.btn-primary:hover,
.btn-primary.active .btn-primary.focus {
    background: #f2726f;
    box-shadow: none;
    outline: none;
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 3px #f2726f solid;
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .add-pet-header {
        padding: 30px 10px;
    }
    .add-pet-subheader {
        padding: 1px 20px;
        width: auto;
        margin-bottom: 1px;
        color: #4b4b4b;
    }
    .addpet-form {
        padding: 30px 60px;
    }
    .addpet-form h2 {
        color: #e79559;
    }

    .header__text {
        padding: 30px 0;
        text-align: center;
    }
    .header__photo img {
        display: block;
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
        margin-top: 1px;
        z-index: 1;
        position: static;
    }
    .addpet-row-space {
        margin: 0 0 0 0;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .add-pet-subheader {
        padding: 1px 20px;
        width: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 1px;
        color: #4b4b4b;
    }
    .addpet-row-space {
        margin: 0 0 0 0;
    }
    .header__photo img {
        display: block;
        margin: 0 auto;
        width: 25rem;
        position: static;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .header__photo img {
        width: 30rem;
        height: 30rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .header__photo img {
        width: 20rem;
        height: 30rem;
    }
}
