* {
  margin: 0%;
  padding: 0%;
}
.theme-color {
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
.contact-us {
  box-shadow: 0 10px 10px -5px ;
  color: rgb(124, 72, 72);
}
.img-fluid {
  height: auto;
  width: auto;
}
.img-background-color,
.pet-gallery {
  background: linear-gradient(
    88.51deg,
    #dc4946 0.29%,
    #f2726f 49.91%,
    #ffc533 100%
  );
}
#colorset {
  color: #e79559;
  font-weight: bold;
  font-size: 20px;
}
#colorset1 {
  color: #e79559;
  font-weight: 700;
}
.main-image {
  width: 650px;
}

.gradient-background {
  background: -webkit-linear-gradient(45deg, #ec869c, #f7a173 100%);
}
.gradient-text {
  background: -webkit-linear-gradient(45deg, #ec869c, #f7a173 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-us input,
.contact-us input:active,
.contact-us input:focus,
.contact-us textarea,
.contact-us textarea:active,
.contact-us textarea:focus {
  border-bottom: 2px solid rgba(253, 253, 253, 0.692) !important;
  outline: none !important;
}
.contact-us input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.918) !important;
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.submit-button {
  background: linear-gradient(45deg, #ff4a71, #ff8e53 100%);
  border-radius: 25px !important;
}
.custom-select {
  background: none !important;
}
.form-control:focus,
.form-control:active,
.form-control {
  outline: none !important;
  box-shadow: none;
}
.btn:focus,
.btn:active,
.btn:hover,
.btn {
  outline: none !important;
  box-shadow: none;
}

.home-image {
  display: none !important;
}

.text-sh {
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(241, 7, 7);
}

.video-parant {
  width: auto !important;
  height: auto !important;
  display: block !important;
}

.video-child {
  top: 50%;
  left: 50%;
  width: 100% !important;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  display: block !important;
}

@media screen and (max-width: 739px) {
  .banne {
    display: none !important;
  }
  .home-image {
    display: block;
    background: url(./images/home-page/hero.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% !important;
    height: auto;
  }
}

.slid {
  background: url(./images/home-page/h3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.first-input {
  border-top-left-radius: 10vh !important;
  border-bottom-left-radius: 10vh !important;
  outline: 0 !important;
  border: inherit !important;
}

.last-input {
  border-radius: 10vh !important;
  margin-left: -4vh !important;
  outline: 0 !important;
}
.home-btn {
  border-radius: 10vh !important;
}

.outline {
  outline: none !important;
}

@media screen and (max-width: 480px) {
  .text-size {
    font-size: 8px !important;
  }
}

#content,
.contactinfo,
#contact-header {
  background: #f2f2f2;
}

/* https://i.pinimg.com/originals/f2/1b/24/f21b241d1a99309b7616cd4131cca911.gif
https://i.makeagif.com/media/2-08-2017/BfEXDC.gif

*/

.aqua-gradient {
  background-image: url('./images//About-us//BfEXDC.gif');
  height: 160px;
}
.card {
  border-radius: 5px;
}
.imgCard {
  height: 190px;
  width: 195px;
}
.im2 {
  width: 1600px;
  margin-top: 80px;
}

.cat-pic {
  z-index: -1;
}
.rec-pic,
.txt-box {
  z-index: 1;
}
@media (max-width: 992px) {
  .rec-pic {
    width: 100% !important;
  }
  .cat-pic {
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .main-title {
    font-size: 16px;
  }
  .about-us-outline {
    font-size: 17px;
  }
  .about-us-text {
    font-size: 13px;
  }
}

/* storysec */
.grey-bg {
  background-color: #f2f2f2;
  min-height: 70vh;
}
.box-col {
  z-index: 3;
}
.box-part {
  background-color: #fff;
}

.main-title-s2 {
  color: #5d62b5;
}
.our-impact {
  background-image: url('../src/images/About-us/ourimpact-bg.svg');
  min-height: 70vh;
}
.our-impact-title {
  margin-top: 8em;
  margin-left: 6em;
  z-index: 1;
}
.our-impact-blob {
  margin-top: -7em;
  z-index: 0;
}

.icons {
  margin-top: 22em;
  margin-left: 2em;
  z-index: 1;
}

.title-our-impact-services {
  color: #5d62b5;
  font-size: 14px;
}

.select-language {
  font-family: 'FontAwesome', 'Second Font name';

  -webkit-appearance: none;
  -moz-appearance: none;
}